.container{
  margin: 7rem;
  display: flex;
  flex-direction: column;
}

.title{
  color: #fff;
	font-size: 2rem;
}

.grid{
  display: grid;
	grid-template-columns: 65% 35%;
	gap: 4rem;
}

.tableContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
